.work__container{
    display: grid;
    grid-template-columns: [col1] 150px [col2] 1fr [col-end];
    grid-template-areas: "a b" "a b";
    gap: 10px;
    margin: 20px;
    border: 1px solid black;
}
.work__container__item1{
grid-area: a;

}
.work__container__item2{
grid-area: b;
border: 1px solid black;
display: grid;
grid-template-columns: 0.5fr;
grid-template-areas: "one"
"two";
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}